<%- include("partials/header") %>
<section class="section">
  <h1>404</h1>
  <p>Page not found.</p>
  <a class="btn btn-primary" href="/">Back to Homepage</a>
</section>
<%- include("partials/footer") %>
